:host{
    background-color: #FFF;
    width: 100%;
    position: relative;

    .container{
        padding-top: 16px;
        display: flex;
        flex-direction: column;

        .main-container{
            display: flex;
            flex-direction: column;
        }
        
        .cont{ text-align: center; }
    }
    
    .container-service{
        border: 1px solid #00000010;
        padding: 24px;
        display: flex;
        margin-top: 32px;
        flex-direction: column;
        gap: 8px;
        border-radius: 16px;
        box-shadow: 0 12px 16px #00000010;
        margin-bottom: 48px;

    }

    mat-stepper{
        background-color: #FFF;
        padding-top: 40px;
    }

    
    span{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .start-container{
        justify-content: start;
        gap: 16px;
        border-bottom: 1px solid #00000010;
        padding-bottom: 16px;
    }

    .container-destaque{
        p{
            color: #181818;
            font-weight: 900;
        }
    }
    
    h1{
        font-size: 22px;
    }

    .stars {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
    }

    .stars input {
        display: none;
    }

    .stars label {
        font-size: 16px;
        color: #ccc;
        cursor: pointer;
        transition: color 0.2s;
    }

    .stars input:checked~label {
        color: #FFD700;
    }

    .stars label:hover,
    .stars label:hover~label {
        color: #FFD700;
    }

    .cabecalho{
        align-items: start;
        display: flex;
        justify-content: start;
        gap: 12px;
        margin-top: 16px;

        p{
            font-weight: 900;
            color: #181818;
        }
    }

    .atention{
        display: none;
    }

    .detalhes{
        display: flex;
        align-items: start;
        gap: 8px;
        padding-left: 16px;
        padding-top: 16px;

        div{
            display: flex;
            flex-direction: column;
            gap: 4px;

            span{
                display: flex;
                flex-direction: column;
            }
        }

        .title{
            font-weight: 800;
        }
    }

    .spacing{
        background-color: #FFF;
        height: 120px;
    }

    .container-footer{
        background: linear-gradient(transparent, #FFF);
        width: 100%;
        // height: 100px;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 48px 24px;
        gap: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        button{
           background-color:#FFF;
           width: 100%;
           height: 48px; 
           border-radius: 8px;
           color: #181818;
           border: 1px solid #00000016;
        }

        .primaryButton{
            background: linear-gradient(to right, #E93A00, #FABE11);
            color: #FFF;
            border: none;
        }
    }

    .container-second-step{
        padding-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        text-align: center;

    }

    .containerInput{
        padding: 2px;
        width: 100%;
        height: 48px;

        input{
            width: 100%;
            height: 48px;
            border-radius: 12px;
            padding: 0 16px;
            border: 1px solid #00000016;
            background-color: #00000004
        }
    }

    textarea{
        width: 100%;
        border-radius: 12px;
        padding:16px;
        border: 1px solid #00000016;
        height: 220px;
        background-color: #00000004;
    }

    .lastContainer{
        padding-top: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        height: 100%;

        img{
            width: 64px;
            height: 64px;
        }

        p{
            text-align: center;
        }

        button{
            background: linear-gradient(to right, #E93A00, #FABE11);
            color: #FFF;
            width: 60%;
            height: 48px;
            border-radius: 8px;
            margin-top: 24px;
            font-weight: 700;
            font-size: 14px;
        }
    }
}


@media screen and (min-width:765px) {
    :host{
        padding: 0;

        .container{
            padding: 0px;
            margin: 0px;

            .container-service{
                height: 200px;
                width: 340px;

                p{
                    font-size: 14px;
                }
            }

            .atention{
                display: block;
                padding-top: 48px;
                text-align: center;
                color: #000000;
                width: 80%;
                margin: auto;
                line-height: 24px;
            }

            .spacing{
                display: none;
            }

            .main-container{
                padding: 0px;
                margin: 0px;
                justify-content: space-between;
                flex-direction: row-reverse;
                padding-top: 80px;

                .desc-service{
                    .cabecalho{
                        p{
                            font-size: 14px;
                        }
                    }

                    .detalhes{

                        .title{
                            font-size: 12px;
                            font-weight: 800;
                            color: #181818;
                        }

                        div{
                            p{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
