:host{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;

    .br-md {
        display: none;
    }

    .img-md {
        display: inline;
    }

    .img-lg {
        display: none;
    }

    .container-detalhes{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 16px;
        width: 96%;
        padding: 48px 0 32px 0;

        span{
            color: #FABE11;
        }
    }
    
    .container-filter{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 16px;
    
        .container-input-button{
            display: grid;
            gap: 16px;
            grid-template-columns: 1fr 96px;

            button{
                background: linear-gradient(to right, #FABE11, #E93A00);
                color: #FFFFFF;
                font-weight: 500;
            }

            .container-input{
                border: 1px solid #ddd;
                padding: 8px;
                border-radius: 8px;
                height: 44px;
                display: flex;
                width: 100%;
            }
            
        }

    }

    .filtros{
        scrollbar-width: none;
        width: 100%;
        height: 48px;
        display: flex;
        gap: 8px;
        overflow: auto;

        &::-webkit-scrollbar{
            background-color: red;
        }

        &::-webkit-scrollbar-thumb{
            background-color: red;
        }

        .active{
            background: linear-gradient( to right, #FABE11, #E93A00);
            color: #FFFFFF;
            font-weight: 600;
        }

        button{
            height: 32px;
            cursor: pointer;
            padding: 0 16px;
            background-color: #f1f1f1;
            flex-shrink: 0;

            color: #00000054;
            font-weight: 500;
            font-size: 12px;

            span{
                display: none;
            }

            &:hover{
                background-color: #eeeeee;
            }
        }
    }

    .container-card{
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr 1fr;
    }

    .main-button{
        height: 40px;
        width: 80%;
        margin: auto;
        margin-top: 8px;
        cursor: pointer;
        padding: 0 16px;
        background: linear-gradient( to right, #FABE11, #E93A00);
        color: #FFF;
        font-weight: 500;
        font-size: 14px;
        border-radius: 4px;
        transition: all .2s;
    }

    .container-tres-passos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: centers;
        gap: 64px;
        margin-top: 0;
        
    }

    .testemunhos {
        padding:64px 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;

        h2{
            display: flex;
            align-items: flex-end;
            gap: 38px;
            text-align: start;
            
            span{
                display: flex;
                width: 48px;
                height: 3px;
                background-color: #E93A00;
            }
        }

        h1{
            text-align: start;
        }
    }

    .mockup{
        background: linear-gradient(to right, #E93A00, #FABE11);
        padding: 64px 16px 0 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        h1{ color: #FFF;}
        p{ color: #FFF; text-align: center; }

        .mockupSm{
            margin-top: 80px;
            margin-left: -16px;

        }
        .mockupMd{
            display: none;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 16px;

        }
    }

}


@media screen and (min-width:765px) {
    :host{
        .br-sm{
            display: none;
        }

        .br-md{
            display: inline;
        }

        h1{
            font-size: 38px;
            line-height: 54px;
        }

        p{
            font-size: 18px;
            color: #00000090;
            line-height: 26px;
            font-weight: 400;
        }

        .container-filter {
            gap: 32px;
            width: 84%;

            .container-input-button {
                width: 82%;
                margin: auto;
                gap: 8px;
            }

            .mais-solicitados {
                h1 {
                    font-size: 24px;
                }
            }

        }

        .filtros{
            height: auto;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            .active{
                border: none;
                font-weight: 400;
                font-size: 13px;
            }
       
            button{
                height: 40px;
                padding: 0 24px;
                font-size: 14px;
                display: flex;
                gap: 8px;
                align-items: center;

                color: #888888;
                font-weight: 400;
                font-size: 13px;

                background-color: transparent;
                border: 1px solid #0000003D;

                span{
                    display: flex;
                    img{
                        width: 20px;
                    }
                }
            }
        }

        .container-card{
            gap: 16px;
        }
        
        
        .container-detalhes{
            width: 96%;
            margin: auto;
        }
        
        .main-button{
            height: 48px;
            margin-top: 16px;
            font-size: 16px;
            margin-bottom: 16px;
        }
        
        .container-tres-passos{
            display: flex;
            flex-direction: row;
            gap: 24px;
            margin-top: 48px;
        }

        .mockup{
            display: flex;
            align-items: center;
            padding: 48px 64px 0;

            div{
                display: flex;
                flex-direction: column;
                gap: 24px;

            }

            .mockupSm{display: none;}
            .mockupMd{
                margin-top: 80px;
                display: block;
                margin-right: 140px;
            }

        }
    }
}

@media screen and (min-width:1400px) {
    :host{
        .br-sm{
            display: none;
        }
        .br-md{
            display: none;
        }

        .container-detalhes{
            padding-top: 116px;
            padding-bottom: 64px;
            width: 64%;
            
            p{
                width: 724px;
                margin: auto;
            }
        }


        .container-filter{
            .container-input-button{
                width: 561px;
            }
            .filtros{
                width: 718px;
                margin: auto;
                gap: 16px;

                button{
                    font-size: 16px;

                    span{
                        img{
                            width: 22px;
                        }
                    }
                }
            }
        }

        .container-card {
            gap: 24px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .main-button{
         width: 272px;   
        }

       .nossa-visao{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 82px;
            
            h1{
                text-align: start;
                width: 684px;
                margin: auto;
            }

            h2 {
                display: flex;
                align-items: flex-end;
                gap: 38px;
                align-items: center;
                text-align: start;

                span {
                    display: flex;
                    width: 48px;
                    height: 3px;
                    background-color: #E93A00;
                }
            }
       }

       .container-tres-passos{
            justify-content: center;
            gap: 72px;

            .main{
                width: 600px;
            }

            .minor{
                width: 500px;
            }

            .img-md{
                display: none;
            }
            .img-lg{
                display: inline;
            }

       }

       .testemunhos{
            margin-top: 120px;
            padding-bottom: 120px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 82px;

            h1 {
                text-align: start;
                width: 552px;
                // margin: auto;
            }

            h2 {
                display: flex;
                align-items: flex-end;
                gap: 38px;
                align-items: center;
                text-align: start;
                width: 28%;

                span {
                    display: flex;
                    width: 48px;
                    height: 3px;
                    background-color: #E93A00;
                }
            }
       }

       .mockup{
           background-color: red;
            margin: 64px 9%;
            display: flex;
            flex-direction: row-reverse;
            height: 576px;
            gap: 48px;

            div{
                display: flex;
                flex-direction: column;
                gap: 24px;

                h1, p{
                    text-align: start;
                }
            }

           .mockupMd{   
                margin: 0 0 110px -64px;
                width: 517px;
           }
       }
    }
}