:host{
    width: 100%;
    display: grid;
    grid-template-rows: 68px 1fr;
    position: relative;
    background-color: #FFF;

    header{
        width: 100vw;
        border-bottom: 1px solid #eeeded;
    }

    main{
        width: 100vw;
        background-color: #FFF;

    }
}

@media screen and (min-width:765px) {
    :host {
        grid-template-rows: 108px 1fr;
    }
}
