@if (isLoaded) {
  <div class="skeleton">
    <ngx-skeleton-loader [theme]="{height: '20px', }" />
    <ngx-skeleton-loader [theme]="{height: '82px', }" />
    <ngx-skeleton-loader [theme]="{height: '8px', }" />
    <ngx-skeleton-loader [theme]="{height: '48px', }" />
  </div>
} @else {
<div class="card">
  <p class="title">Eletricidade</p>
  <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elitoviu. Lorem ipsum, dolor sit amet consectetur
    adipisicing elitoviu.</p>

  <span>
    <div class="stars">
      <input type="radio" id="star5" name="rating" value="5"><label for="star5">★</label>
      <input type="radio" id="star4" name="rating" value="4"><label for="star4">★</label>
      <input type="radio" id="star3" name="rating" value="3"><label for="star3">★</label>
      <input type="radio" id="star2" name="rating" value="2"><label for="star2">★</label>
      <input type="radio" id="star1" name="rating" value="1"><label for="star1">★</label>
    </div>
    <p class="avaliation">4,5 (+200 Avaliações)</p>
  </span>

  <button routerLink="/steps">Agendar serviços</button>
</div>
}