:host{

  .card{
    background-color: #F9F9F933;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 13px 8px 8px;
  }

    .title{
        font-size: 14px;
        font-weight: 800;
        color: #181818;
        font-family: "poppins-semibold";
    }

    .desc{
        font-size: 8px;
        line-height: 14px;
    }

    .avaliation{
        font-size: 8px;
        // margin-top: 8px;
    }

    button{
        // margin-top: 4px;
        height: 38px;
        cursor: pointer;
        padding: 0 16px;
        background-color: #FFFFFF;
        border: 1px solid #FABE11;
        color: #cf9b00;
        font-weight: 400;
        font-size: 12px;
        border-radius: 8px;
        transition: all .2s;

        &:hover{
            background: linear-gradient( to right, #FABE11, #E93A00);
            color: #FFF;
        }
    }

    .stars {
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
    }

    .stars input {
      display: none;
    }

    .stars label {
      font-size: 16px;
      color: #ccc;
      cursor: pointer;
      transition: color 0.2s;
    }

    .stars input:checked ~ label {
      color: #FFD700; /* dourado */
    }

    .stars label:hover,
    .stars label:hover ~ label {
      color: #FFD700;
    }
}



@media screen and (min-width:700px) {
  :host{

    .card{
      gap: 10px;
      padding: 16px;

      .title{
        font-size: 16px;
      }
  
      .desc{
        font-size: 14px;
        line-height: 24px;
      }
  
      span{
        display: flex;
        align-items: center;
        margin-top: 2px;
        gap: 8px;
      }
  
      .avaliation{
        font-size: 12px;
      }
  
      .stars label {
        font-size: 18px;
      }
  
      button{
        margin-top: 8px;
        height: 40px;
        font-size: 14px;
      }

    }    


    .skeleton{
      border-radius: 8px;
      padding: 8px 8px 0px 8px;
      border: 1px solid #dddddd81;
      
      .body{
        display: flex;
        flex-direction: column;
        gap: 1px;
        height: 100px;

      }
    }

  }
}