<footer>
    <div>
        <img src="simple-logo.png" />
        <p>Todo o conteúdo deste site é protegido por direitos autorais e não pode ser usado sem a permissão da Kissalo.</p>
    </div>
    
    <div class="container">
        <p>Navegação</p>
        <ul>
            <li>Home</li>
            <li>Contacto</li>
            <li>Sobre</li>
            <li>Serviços</li>
            <li>Prestador Serviços</li>
        </ul>
    </div>
    
    <span>
        <div class="container">
            <p>Central</p>
            <ul>
                <li>Fale connosco</li>
                <li>Dúvidas frequentes</li>
                <li>Central de apoio</li>
            </ul>
        </div>
        
        
        <div class="container redes-sociais">
            <p>Redes sociais</p>
            <ul>
                <li><img src="icon/facebook-icon.png" alt=""></li>
                <li><img src="icon/instagram-icon.png" alt=""></li>
                <li><img src="icon/linkedin-icon.png" alt=""></li>
            </ul>
        </div>
    </span>
    
    
    <div class="container">
        <p>Legal</p>
        <ul>
            <li>Política de privacidade</li>
            <li>Termos de uso</li>
            <li>Política de cookies</li>
            <li>Segurança</li>
        </ul>
    </div>
</footer>

<div class="copyright">
    <p>© copyright - todos os direitos reservados para Kisalo 2025</p>
</div>