<button class="icon-button" (click)="changeMenuState()">
    <img src="icon/menu-icon.png" />
</button>
<img src="logo.png" />

<div>

    <ul>
        <li routerLink="/home" routerLinkActive="active">Home</li>
        <li>Sobre</li>
        <li routerLink="/servicos" routerLinkActive="active">Serviços</li>
        <li>Contacto</li>
        <li>
            <button>Prestador <span><img src="icon/arrow.png" alt=""></span></button>
        </li>
    </ul>
    <button class="icon-card"><img src="icon/btn-card.png" alt=""></button>
</div>